
.idea/.idea.JobManagement/.idea/

JobManagement.API/bin/Debug/net9.0/

JobManagement.API/obj/Debug/net9.0/

*.targets

*.cache

*.info

JobManagement.Application/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs

JobManagement.Application/obj/Debug/net9.0/JobManagement.Application.AssemblyInfo.cs

JobManagement.Application/obj/Debug/net9.0/JobManagement.Application.csproj.FileListAbsolute.txt

*.dll

JobManagement.Application/obj/Debug/net9.0/JobManagement.Application.GeneratedMSBuildEditorConfig.editorconfig

JobManagement.Application/obj/Debug/net9.0/JobManagement.Application.GlobalUsings.g.cs

*.pdb

JobManagement.Application/obj/Debug/net9.0/JobManagement.Application.sourcelink.json

JobManagement.Application/obj/

JobManagement.Domain/obj/Debug/net9.0/

JobManagement.Infrastructure/bin/Debug/net9.0/

JobManagement.Infrastructure/obj/Debug/net9.0/

JobManagement.Persistence/bin/Debug/net9.0/

JobManagement.Infrastructure/obj/

JobManagement.API/appsettings.json

JobManagement.API/obj/

JobManagement.Application/bin/Debug/net9.0/

JobManagement.Domain/bin/Debug/net9.0/

JobManagement.Domain/obj/Debug/

JobManagement.Domain/obj/

JobManagement.Persistence/obj/Debug/net9.0/

postgres-data/base/1/

postgres-data/base/16384/

postgres-data/base/4/

postgres-data/base/5/

postgres-data/

JobManagement.Persistence/obj/

JobManagement.Application/JobManagement.Application.csproj
